/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Outfit:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  /* Font Overrides */
  --sl-font-headers: "Outfit", sans-serif;
  --sl-font-body: "Manrope", sans-serif;
  --sl-font-code: "JetBrains Mono", monospace;
}
